@font-face {
    font-family: 'yekan';
    src: url('../fonts/BYekan.eot');
    src: url('../fonts/BYekan.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BYekan.woff2') format('woff2'),
        url('../fonts/BYekan.woff') format('woff'),
        url('../fonts/BYekan.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'yeken';
}

body{
    font-family: 'yeken';
}

.nav-item {
    font-size: 120%;
}

.nav-item:hover{
    border-bottom: 2px solid rgb(10, 216, 243);
    
}

.navbar-brand{
    font-size: 140%;
}

.navbar{
    padding-bottom: 5px;
    background: linear-gradient(to right,blue,rgb(245, 8, 233)) left 
    bottom
    rgba(0, 0, 0, 0.7)   
    no-repeat;
    background-size:100% 5px;
    opacity: 0.8;
}

#home-section{
    background: url(../images/home.jpg)  fixed no-repeat;
    background-size: cover;
    background-position: 0 0;
    width: 100%;
    min-height: 700px;
    
}

#home-section .dark-overley{
    position: absolute;
    left: 0;
    top: 0;
    background:  rgba(0, 0, 0, 0.7);
    background-size: cover;
    width: 100%;
    min-height: 800px;
}

#home-content{
    margin-top: 20vh;
}
